.first{
    background-color: aqua;
    padding: 5px;
    margin-bottom: 5px;
}
.second{
    border: 2px solid;
    margin-bottom: 5px;
}
.third{
    background-color: blueviolet;
    color: white;
    padding: 1px;
    margin-bottom: 10px;
}
 a{
    display: inline-block;
    text-decoration: none;
    background-color: purple;
    height: 25px;
    width: 50px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: white;
    margin-left: 50%;
 }